<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CloudFlop - Version 1</title>
    {% load static %}
    <link rel="icon" href="{% static 'version1/images/icon_cloudflop.png' %}">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'version1/styles.css' %}">
</head>
<body>
    <img src="{% static 'version1/images/logo_cloudflop.png' %}" width="300" height="300">
    <h1>Transférez vos fichiers de manière sécurisée avec CloudFlop</h1>
    {% if file_url %}
        <!-- Afficher l'URL du fichier pour que l'émetteur ou le destinataire puisse y accéder -->
        <p>Voici votre lien unique pour accéder au fichier : <a href="{{ file_url }}">cliquez ici</a></p>
    {% endif %}

    <p>Choississez votre fichier et entrez un mot de passe pour le sécuriser.</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="document">Importer un fichier :</label>
        <input type="file" id="document" name="document" required>
        
        <label for="password">Entrer un mot de passe :</label>
        <input type="password" id="password" name="password" required>
        <button type="submit" class="btn btn-success">Téléverser</button>
        
    </form>
</body>
</html>
